.sidebar{
    flex: 3;
    padding: 0 20px;
}

.sidebar .area{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 30px;
}

.sidebar h3{
    width: 100%;
    margin-bottom: 10px;
    font-family:'pacifico',cursive;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 20px;
}

.sidebar h3::after{
    content: '';
    width: 50%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0px;
}

.sidebar img{
    padding:5px;
    border-radius: 15px;
}

.sidebar .categories{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sidebar .categories span{
    display: block;
    width:calc(50% - 10px);
    font-family:'arvo',serif;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 2px;
    cursor: pointer;
}

.sidebar a{
    display: block;
    padding: 3px;
    margin-bottom: 5px;
    font-family: "Josefin Sans",sans-serif;
   background-color: rgba(0, 0, 0, 0.03);
}




 